* {
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    color: #32b9cd;
    border-bottom: 3px solid #32b9cd;
}

.selecionado {
    font-weight: bold;
}


.navbar {
    width: 800px;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #32b9cd;  
}